XXXXXXXX      COLLECTION TYPE    XXXXXXXXX

In [1]:
city = ["madrid", "paris", "berlin"]
print(city)

['madrid', 'paris', 'berlin']

In [2]:
city = "madrid paris berlin"
print(list(city))

['m', 'a', 'd', 'r', 'i', 'd', ' ', 'p', 'a', 'r', 'i', 's', ' ', 'b', 'e', 'r', 'l', 'i', 'n']

In [180]:
mixed_list = ["madrid", 11, False, 3.14, None, [1,2,3]]
print(mixed_list)
print(len(mixed_list))

['madrid', 11, False, 3.14, None, [1, 2, 3]]
6

In [4]:
empty_list1 = []
empty_list2 = list()

In [9]:
animals = []
animals.append("Tiger")
animals.append("Lion")
print(animals)

['Tiger', 'Lion']

In [183]:
city = ["New York", "Madrid", "Berlin", "Munih"]
city.append("Istanbul")
city2 = ["Moscow", "Tokyo"]
city.append(city2)
print(city)

['New York', 'Madrid', 'Berlin', 'Munih', 'Istanbul', ['Moscow', 'Tokyo']]

In [11]:
city = ["New York", "Madrid", "Berlin", "Munih"]
city.insert(2, "Tokyo")
print(city)

['New York', 'Madrid', 'Tokyo', 'Berlin', 'Munih']

In [19]:
city = ["New York", "Madrid", "Berlin", "Munih"]
city1 = ["Tokyo", "Moscow"]
city.insert(1, city1)
print(city)

['New York', ['Tokyo', 'Moscow'], 'Madrid', 'Berlin', 'Munih']

In [21]:
city = ["New York", "Madrid", "Berlin", "Munih"]
city.insert(2, "Tokyo")
city.remove("Berlin")
city.sort()
print(city)

['Madrid', 'Munih', 'New York', 'Tokyo']

In [23]:
city = ["New York", "Madrid", "Berlin", "Munih"]
city.insert(2, "Tokyo")
city.remove("Berlin")
city.sort(reverse = True)
print(city)

['Tokyo', 'New York', 'Munih', 'Madrid']

In [25]:
city = ["New York", "Madrid", "Berlin", "Munih"]
city.insert(2, "Tokyo")
city.remove("Berlin")
city.sort(key = len, reverse = True)
print(city)

['New York', 'Madrid', 'Tokyo', 'Munih']

In [26]:
city = ["New York", "Madrid", "Berlin", "Munih"]
city[2] = "Istanbul"
print(city)

['New York', 'Madrid', 'Istanbul', 'Munih']

In [30]:
city = ["New York", "Madrid", "Berlin", "Munih"]
print(city.index("Berlin"))

2

In [32]:
city = ["New York", "Madrid", "Berlin", "Munih", "Istanbul", "Tokyo", "Moscow"]
city.pop(-2)
print(city)

['New York', 'Madrid', 'Berlin', 'Munih', 'Istanbul', 'Moscow']

In [37]:
city = ["New York", "Madrid", "Berlin", "Munih", "Istanbul", "Tokyo", "Moscow"]
del city[:4:2]
print(city)

['Madrid', 'Munih', 'Istanbul', 'Tokyo', 'Moscow']

In [38]:
city = ["New York", "Madrid", "Berlin", "Munih", "Istanbul", "Tokyo", "Moscow"]
print(city[2])

Berlin

In [44]:
city = ["New York", "Madrid", "Berlin", "Munih", "Istanbul", "Tokyo", "Moscow"]
city_list = []
city_list.append(city)
print(city_list)
print(city_list[0])
print(city_list[0][4])
print(city_list[0][4][1])

[['New York', 'Madrid', 'Berlin', 'Munih', 'Istanbul', 'Tokyo', 'Moscow']]
['New York', 'Madrid', 'Berlin', 'Munih', 'Istanbul', 'Tokyo', 'Moscow']
Istanbul
s

In [50]:
count = list(range(26))
print(count)
print(count[:16:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
[0, 2, 4, 6, 8, 10, 12, 14]

In [53]:
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [54]:
mountain = tuple("Alps")
print(mountain)

('A', 'l', 'p', 's')

In [57]:
mixed_value_tuple = (0, "bird", 3.14, True)
print(len(mixed_value_tuple))

4

In [64]:
city = ("New York", "Madrid", "Berlin", "Munih", "Istanbul", "Tokyo", "Madrid")
city.count("Madrid")

2

In [66]:
city = ("New York", "Madrid", "Berlin", "Munih", "Istanbul", "Tokyo", "Madrid")
city.index("Berlin")

2

In [77]:
number = sorted (range(1,11), reverse = True)
print(number)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [81]:
number = list(range(1,11))
number.sort(reverse = True)
print(number)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [84]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]
print(grocer[1][1][1::2])

['eggplant', 'spinach', 'leek']

In [92]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = "My two favorite flowers are {f[0][2]} and {f[0][1][1]}, \
two favorite colors are {c[1][0]} and {c[1][1][1]}.".format(f=flowers, c=colors)
print(text)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [96]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]

sentence = "I am 40 years old.{e[0]}I have two children.{e[2][1]}Data Science is my IT domain.".format(e=escapes)
print(sentence)

I am 40 years old.
	I have two children.
		Data Science is my IT domain.

In [97]:
empty_dict = {}
empty_dict1 = dict()

In [98]:
my_dict = {'key1': 'value1',
            'key2': 'value2',
            'key3': 'value3'
            }

In [101]:
state_capitals = {'Arkansas': 'Little Rock','Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta' }

print(state_capitals['Colorado'])
state_capitals["Virginia"] = "Richmond"
print(state_capitals)

Denver
{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta', 'Virginia': 'Richmond'}

In [102]:
mix_values = {'animal': ('dog', 'cat'),  # tuple type
              'planet': ['Neptun', 'Saturn', 'Jupiter'],  # list type
              'number': 40,  # int type
              'pi': 3.14,  # float type
              'is_good': True}  # bool type

mix_keys = {22 : "integer",
            1.2 : "float",
            True : "boolean",
            "key" : "string"}
print(mix_values)
print(mix_keys)

{'animal': ('dog', 'cat'), 'planet': ['Neptun', 'Saturn', 'Jupiter'], 'number': 40, 'pi': 3.14, 'is_good': True}
{22: 'integer', 1.2: 'float', True: 'boolean', 'key': 'string'}

In [103]:
dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [105]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

print(dict_by_dict.items())
print(dict_by_dict.keys())
print(dict_by_dict.values())

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])
dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])
dict_values(['dog', 'neptun', 40, 3.14, True])

In [107]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}
dict_by_dict.update({'Sea' :'Aegean'})
print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'Sea': 'Aegean'}

In [108]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}
del dict_by_dict['pi']
print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'is_good': True}

In [113]:
dict_by_dict = {'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

print('air' in dict_by_dict) 
print('animal' not in dict_by_dict)

False
True

In [126]:
student_ages = {"Harry": 29,
                "Clark": 32,
                "Peter": 22,
                "Bruce": 36
                }
student_ages["Clark"]

32

In [127]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
        
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}
print(school_records["personal_info"]["teen"]["marry"]["age"])

16

In [128]:
empty_set = set()

In [131]:
colorset = {'purple', 'orange', 'red', 'darkblue', 'yellow', 'red'}

print(colorset)
print(colorset)

{'purple', 'darkblue', 'red', 'orange', 'yellow'}
{'purple', 'darkblue', 'red', 'orange', 'yellow'}

In [132]:
s = set("unselfishness")
print(s)

{'e', 'h', 'f', 'i', 'l', 'u', 's', 'n'}

In [135]:
flower_list = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
print(flower_list)
flowerset = set(flower_list)
flowerlist = list(flowerset)

print(flowerset) 
print(flowerlist)

['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
{'carnation', 'violet', 'rose', 'orchid'}
['carnation', 'violet', 'rose', 'orchid']

In [136]:
a = set('abracadabra')
b = set('alacazam')

print(a - b)  # same as '.difference()' method
print(a.difference(b)) # a difference from b

{'r', 'b', 'd'}
{'r', 'b', 'd'}

In [137]:
a = set('abracadabra')
b = set('alacazam')

print(a | b)  # same as '.union()' method
print(a.union(b)) # unification of a with b

{'a', 'd', 'c', 'z', 'r', 'b', 'm', 'l'}
{'a', 'd', 'c', 'z', 'r', 'b', 'm', 'l'}

In [138]:
a = set('abracadabra')
b = set('alacazam')

print(a & b)  # same as '.intersection()' method
print(a.intersection(b)) # intersection of a and b

{'a', 'c'}
{'a', 'c'}

In [139]:
a = set('abracadabra')

a.remove('c') # we delete 'c' from the set
print(a)

{'a', 'd', 'r', 'b'}

In [140]:
a = set('abracadabra')

a.add('c') # we add 'c' again into the set
print(a)

{'a', 'd', 'c', 'r', 'b'}

In [142]:
a = set('abracadabra')
print(len(a))
print("b" in a)

5
True

In [145]:
print((set('listen to the voice of enlisted')))
print(len(set('listen to the voice of enlisted')))

{'e', 'd', ' ', 't', 'c', 'f', 'v', 'i', 'o', 'l', 'h', 's', 'n'}
13

In [146]:
family_members = tuple(['Meghan', 'Tom', 'Nicole', 'Tim'])
print(family_members)

('Meghan', 'Tom', 'Nicole', 'Tim')

In [150]:
a = 1
print(-a)
b = -11
print(-b)

-1
11

In [151]:
a = 3
b = 4

print("The sum of {} + {} is : {}".format(a, b, a+b))

The sum of 3 + 4 is : 7

In [153]:
text = "{:.2f}, {:.3f}, {:.4f}".format(3.1463, 5.3435, 7.325663)
print(text)

3.15, 5.343, 7.3257

In [154]:
text = "{:.2s}, {:.3s}, {:.4s}".format("3a.1463", "5.3435b", "7.325663c")
print(text)

3a, 5.3, 7.32

In [155]:
text = "{:.2}, {:.3}, {:.4}".format("3a.1463", "5.3435b", "7.325663c")
print(text)

3a, 5.3, 7.32

In [158]:
text = "{:>30}".format("test")
text

'                          test'

In [159]:
text = "{:<30}".format("test")
text

'test                          '

In [165]:
text = "formatlama satiri {:>30} bu da txtin sonu".format("test")
text

'formatlama satiri                           test bu da txtin sonu'

In [167]:
text = "formatlama satiri {:^30} bu da txtin sonu".format("test")
text

'formatlama satiri              test              bu da txtin sonu'

In [169]:
"{:10.5}".format('hippopotamus')

'hippo     '

In [171]:
"{:^20.5}".format("hippopotamus")

'       hippo        '

In [175]:
"{:+}".format(115)  # +115 yazmak icin + dan sonra d yani digit te koyabiliriz

'+115'

XXXXXXXX   LIST    XXXXXXXXXXXX

In [177]:
list_1 = ['h', 'a', 'p', 'p', 'y']
word = 'happy'
list_2 = list(word)
print(list_1)
print(list_2)

['h', 'a', 'p', 'p', 'y']
['h', 'a', 'p', 'p', 'y']

In [178]:
list_3 = [word]
list_3

['happy']

In [181]:
my_list = ["Joseph", "ali", 2020]
new_list1 = list(my_list)
new_list2 = [my_list]
print(new_list1)
print(len(new_list1))
print(new_list2)
print(len(new_list2))

['Joseph', 'ali', 2020]
3
[['Joseph', 'ali', 2020]]
1

In [182]:
a = list("2020's hard")
b = ["2020's hard"]
print(a)
print(b)

['2', '0', '2', '0', "'", 's', ' ', 'h', 'a', 'r', 'd']
["2020's hard"]

In [234]:
a = list(range(10,101,10))
a.sort(reverse = True)
print(a)

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [1]:
chr(65)

'A'

In [237]:
ord("A")

65

In [5]:
number = list(range(0,101,5))
print(number)
number.sort(reverse=True)
print(number)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
[100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5, 0]